<div class="mainDiv">
  <h2 [ngClass]="'centerText'">Header</h2>
</div>

<div class="mainDiv">
  <nav>
    <a routerLink="/" [ngClass]="'navItem'">Home</a>
    <a routerLink="/directives" [ngClass]="'navItem'">Directives</a>
    <a routerLink="/emitter" [ngClass]="'navItem'">Emitter</a>
    <a routerLink="/event" [ngClass]="'navItem'">Event</a>
    <a routerLink="/ifRender" [ngClass]="'navItem'">If Render</a>
    <a routerLink="/list" [ngClass]="'navItem'">List render</a>
    <a routerLink="/parentData" [ngClass]="'navItem'">Parent Data</a>
    <a routerLink="/pipes" [ngClass]="'navItem'">Pipes</a>
    <a routerLink="/twoWay" [ngClass]="'navItem'">Two-Way Data Binding</a>
    <a routerLink="/fireworks" [ngClass]="'navItem'">Fireworks</a>
  </nav>
</div>

<router-outlet></router-outlet>
<div class="mainDiv">
  <h2 [ngClass]="'centerText'">Footer</h2>
</div>
