/* You can add global styles to this file, and also import other style files */

.mainDiv {
  padding: 2em;
}

.mainButton {
  background-color: blue;
  color: white;
  height: 40px;
  border-radius: 0.5em;
  border-color: transparent;
  font-size: 15px;
}

.centerItem {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navItem {
  padding: 2em;
}

.centerText {
  text-align: center;
}
